.heading {
    color: maroon;
}

#my-paragraph {
    margin: 0px;
    background-color: blue;
}

.para1 {
    margin: 0px;
    border: 40px;
    background-color: mediumorchid;
    padding: 10px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}